# Copy to environments/_global/terraform.tfvars when applying via IGMF pipelines
# (state key: igmf/_global.tfstate). Do not commit terraform.tfvars.

azure_subscription_id = "cc1ccb8d-18a1-4dca-aa5a-54607876c990" # IGMF sandbox subscription
subscription_code     = "conn"
environment           = "igmf"
location              = "uksouth"

mandatory_tags = {
  costCentre             = "IGMF-SANDBOX"
  securityClassification = "Limited"
  resourceOwner          = "dan.bowen@ignitemyfire.co.uk"
  CMDB_AppID             = "IGMF001"
}
